.menu {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: auto;
    align-self: center;
}

.btn {
    font-size: 34px;
    background-color: rgba(0, 66, 149, 0.78);
    color: rgb(255, 255, 255);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

.hide {
    display: none;
}

#HUD #PauseButton {
    position: absolute;
    top: 10px;
    left: 10px;
    right: auto;
    bottom: auto;
    -unity-font-style: bold;
    font-size: 300%;
    -unity-text-align: middle-center;
    width: 150px;
    height: 150px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-left-color: rgb(0, 54, 124);
    border-right-color: rgb(0, 54, 124);
    border-top-color: rgb(0, 54, 124);
    border-bottom-color: rgb(0, 54, 124);
    color: rgb(0, 54, 124);
}

#HUD #PauseButton:hover {
    border-left-color: rgba(34, 74, 125, 0.78);
    border-right-color: rgba(34, 74, 125, 0.78);
    border-top-color: rgba(34, 74, 125, 0.78);
    border-bottom-color: rgba(34, 74, 125, 0.78);
    color: rgba(0, 54, 124, 0.78);
}
